<!-- Dentro de GlobalNamingResources -->
<!-- Recursos globales para Webapp de ejemplo -->
<Resource name="jdbc/fichadas" 
                  description="Datasource utilizado para la aplicacion de fichadas"
                  auth="Container" 
                  type="javax.sql.DataSource" 
                  driverClassName="org.postgresql.Driver" 
                  url="jdbc:postgresql://localhost:5432/postgres" 
                  username="postgres"
                  password="docker"
                  maxTotal="10" 
                  maxIdle="1" 
                  accessToUnderlyingConnectionAllowed="true"
                  removeAbandonedOnBorrow="true"
                  removeAbandonedTimeout="60"
                  logAbandoned="false"  
/>
